<%= turbo_frame_tag "file-grid", class: "file-grid" do %>
<% if @is_text %>
<div class="file-grid" id="file-grid">
    <textarea id="text-input" name="text-input"><%= @text %></textarea>
</div>

<script>
    async function func() {
        <% @language[:files].each do |item| %>
            await import("modules/<%= item[0...-3] %>");
        <% end %>

        editor = CodeMirror.fromTextArea(document.getElementById('text-input'), {
            mode: '<%= @language[:mode] %>',
            lineNumbers: true,
            autoCloseBrackets: true,
            matchBrackets: true,
            foldGutter: true,
            styleActiveLine: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        });
    }

    func();
</script>

<script>
    document.getElementById('save-button').style.display = 'block';
    document.getElementById('refresh-file').style.display = 'block';
    document.getElementById('upload-file').style.display = 'none';
    document.getElementById('create-file').style.display = 'none';
    document.getElementById('create-folder').style.display = 'none';

    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && event.key === 's') {
            event.preventDefault(); // Prevent the default browser save dialog
            if (canSave) {
                saveData();

                // Disable for 1 second
                canSave = false;
                setTimeout(() => {
                    canSave = true;
                }, 1000);
            }
        }
    });

    function saveData() {
        const itemPath = '<%= @item_path %>';
        const textData = editor.getValue();

        fetch('/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content
                },
                body: JSON.stringify({
                    item_path: itemPath,
                    text_data: textData
                })
            }).then(response =>
                response.json())
            .then(data => {
                if (data.error) {
                    showNotification(data.error, 'error');
                } else {
                    showNotification(data.message, 'success');
                }

            });
    }
</script>

<% else %>
<div class="file-grid" id="file-grid">
    <!-- Files and folders will be populated here -->
    <div class="d-flex justify-content-center flex-column align-items-center" style="margin: auto;">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="mb-2">
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
            <polyline points="14,2 14,8 20,8" />
            <line x1="9" y1="11.5" x2="15" y2="17.5" />
            <line x1="15" y1="11.5" x2="9" y2="17.5" />
        </svg>
        <span>The file is not displayed because it is either binary or uses an unsupported text encoding.</span>
    </div>
</div>
<script>
    document.getElementById('save-button').style.display = 'none';
    document.getElementById('upload-file').style.display = 'none';
    document.getElementById('create-file').style.display = 'none';
    document.getElementById('create-folder').style.display = 'none';
</script>
<% end %>
<% end %>