<%= turbo_frame_tag "file-grid", class: "file-grid" do %>
<% if @is_empty %>

<%# EMPTY FOLDERS GO HERE %>
<div class="empty-state" style="margin: auto;">
    <i class="fas fa-folder-open fa-5x text-themed-muted"></i>
    <h4>This folder is empty</h4>
    <p>Upload files or create new folders to get started.</p>
</div>

<% else %>

<%# FOLDERS WITH CHILDREN GO HERE %>
<div class="list-group">
    <% @children.each do |item| %>
    <span class="list-group-item list-group-item-action d-flex align-items-center py-2 border-0" style="background-color: var(--bg-primary); color: var(--text-primary); border-bottom: 1px solid var(--border-color) !important;">
        <% if item[:type] == 'directory' %>
        <%# DIRECTORIES GO HERE %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder-fill me-2" viewBox="0 0 16 16" style="color: #ffc107;">
            <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
        </svg>
        <%= button_to item[:name],
            "/folder",
            method: :get,
            params: { item_path: item[:item_path] },
            class: "btn btn-plain-text name text-nowrap",
            form: { data: { turbo_frame: "file-grid" } }
        %>
        <% else %>
        <%# FILES GO HERE %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark me-2" viewBox="0 0 16 16" style="color: #0d6efd;">
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
        </svg>
        <%= button_to item[:name],
            "/file",
            method: :get,
            params: { item_path: item[:item_path] },
            class: "btn btn-plain-text name text-nowrap",
            form: { data: { turbo_frame: "file-grid" } } %>
        <div class="ms-auto d-flex gap-2">
            <%= button_to "/download_file", method: :get, params: { file_path: item[:item_path] }, class: "btn btn-primary d-flex align-items-center justify-content-center", form: { style: "display: inline;", target: "_blank" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
            </svg>
            <% end %>
            <button type="button" id="delete-file" onclick="delete_file(`<%= item[:item_path] %>`)" class="btn btn-danger d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                </svg>
            </button>
        </div>
        <% end %>

    </span>
    <% end %>
</div>

<% end %>

<script>
    document.getElementById('save-button').style.display = 'none';
    document.getElementById('refresh-file').style.display = 'block';
    document.getElementById('upload-file').style.display = 'block';
    document.getElementById('create-file').style.display = 'block';
    document.getElementById('create-folder').style.display = 'block';
</script>

<% end %>