<ul class="directory-tree" id="<%= id %>">
    <% tree.each do |item| %>
    <li style="display: none;" class="<%= item[:type] %>">
        <!-- <span class="name text-nowrap"><%= item[:name] %></span> -->
        <% if item[:type] == 'directory' && item[:children]&.any? %>

        <%# DIRECTORIES GO HERE %>
        <button class="btn btn-plain-text name text-nowrap" onclick="toggleListItems(`<%= item[:item_path].gsub('/', '_') %>`)"><%= item[:name] %></button>
        <%= render 'shared/directory_tree', tree: item[:children], id: item[:item_path].gsub('/', '_') %>

        <% else %>

        <%# FILES GO HERE %>
        <span class="name text-nowrap"><%= item[:name] %></span>

        <% end %>
    </li>
    <% end %>
</ul>